.contactpage {
    width: 100vw;
    height: calc(100vh + 1080px);
    position: absolute;
    transform: translateY(calc(-100vh - 1080px));
    transition: all 1s ease;
    overflow: hidden;
}

.contactpage .cards  {
    width: 100vw;
    height: fit-content;
    position: relative;
    top: 1080px;
    transition: all 0.5s ease;
}

.contactpage .cards img{
    position: absolute;
}

#card1 {
    width: 50vw;
    top: 0;
    left: 0;
}
#card2 {
    width: 25vw;
    right: 0;
}
#card3 {
    width: 50vw;
    left: 25vw;
}

#contact-background {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    transition: all 0.5s ease;
}