.slider-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
}

.scroll {
  position: relative;
  top: 65%;
}

.scroll-item {
  counter-increment: count;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.scroll-item .desc {
  z-index: -1;
}

.scroll-item .desc span {
  color: black;
  font-family: Noto Serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  top: 16px;
  z-index: -1;
  transition: all ease 0.4s;
}

.scroll-item img {
  width: 10vw;
  user-select: none;
}

.trail {
  pointer-events: none;
  position: absolute;
  will-change: transform, opacity;
  /* filter: blur(3px); */
  opacity: 0.4;
}